<nav>
  <div id="navbar"
    <div class="text-center">

      <!-- if current user, use these elements in navbar -->

        <div class="nav_element">My Account</div>
        <div class="nav_element">My Posts</div>

      <!-- else these elements -->
        <div class="nav_element">Sign Up</div>
        <div class="nav_element">Log In</div>

      <!-- end -->
    </div>
  </div>
</nav>
